/**
 * Theme for Explore It presentation
 *
 * Based on the Default theme for reveal.js copyright Hakim El Hattab
 * 
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
@import "../template/fonts";
// ---------------------------------------------

$titleBackgroundColor: #05343B;
$backgroundColor: #2b2b2b;

// Main text
$mainFont: 'Source-light', 'sans-serif';
$mainFontSize: 48px;
$mainColor: #eee;

// Headings
$headingFont: 'Source-black', 'sans-serif';
$headingFontSize: 40px;
$headingMargin: -20px 0px 100px 0px;
$headingTextTransform: none;

// Title Slides
$titleFont: 'Source-black';
$titleFontSize: 96px;
$subTitleFont: 'Source-light';
$subTitleFontSize: 56px;
$titleBlockFont: 'Source-light';
$titleBlockFontSize: 32px;

// Charters
$handwritingFont: 'ArchitectsDaughter';

// Background generator
@mixin bodyBackground() {
	@include radial-gradient( rgba(28,30,32,1), rgba(85,90,95,1) );
}


// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------