/**
 * Theme for Explore It presentation
 *
 * Based on the Default theme for reveal.js copyright Hakim El Hattab
 * 
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------



// Include theme-specific fonts
@font-face {
	font-family: 'Grundschrift';
	src: url('/theme/fonts/grundschrift/Grundschrift.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'CosmicSansNeueMono';
	src: url('/theme/fonts/cosmicsansneuemono/CosmicSansNeueMono.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Cabin';
	src: url('/theme/fonts/cabin/Cabin-Regular.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Source-light';
	src: url('/theme/fonts/source/SourceSansPro-ExtraLight.ttf.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Source-black';
	src: url('/theme/fonts/source/SourceSansPro-Black.ttf.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

// Main text
$mainFont: 'Source-light', 'sans-serif';
$mainFontSize: 48px;
$mainColor: #eee;

// Headings
$headingFont: 'Source-black', 'sans-serif';
$headingFontSize: 40px;
$headingMargin: -20px 0px 100px 0px;
$headingTextTransform: none;

// Background generator
@mixin bodyBackground() {
	@include radial-gradient( rgba(28,30,32,1), rgba(85,90,95,1) );
}

html.first .state-background {
    background-color: rgba(50,150,50, 0.8);
}

.column {
  text-align: center;
  width: 50%;
  padding: 10px;
}

.column.left {
  float: left;
}

.column.right {
  float: right;
}



// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------